<h1>$word.getWord()</h1>

<h4>Definition:</h4>

<ul>
  #foreach($eachDefinition in $word.getDefinitions())
   <li>$eachDefinition.getMeaning()</li>
  #end
</ul>

<hr>
<a href="/words/$word.getId()/definitions/new" class="btn btn-info">Add a new definition</a>
<a href="/viewAll" class="btn btn-success">View All Words</a>
