<h1>Add a definition to $word.getWord()</h1>

<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="inputMeaning">Description</label>
    <input id="inputMeaning" name="inputMeaning" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
